*.iml
.gradle
local.properties
.idea
gradle
gradlew
gradlew.bat
.DS_Store
build
captures
.externalNativeBuild

/Common/src/androidTest
/Common/src/test

/app/src/androidTest
/app/src/test

/Factory/src/main/java/com/carson/factory/net/UploadHelper.java
/Factory/src/main/java/com/carson/factory/net/UploadHelper.java
